/* ::::: http://johrice.bigcartel.com/theme_stylesheets/106415236/1519114272/theme.css ::::: */

.slides::after { content: " "; display: block; clear: both; visibility: hidden; line-height: 0; height: 0px; }
.flex-direction-nav a::before { font-size: 40px; display: inline-block; }
.flex-direction-nav a.flex-next::before {  }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0px none; font: inherit; vertical-align: baseline; margin: 0px; padding: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
html, body { min-width: 260px; width: 100%; height: 100%; }
body { font-weight: normal; font-size: 100%; text-rendering: optimizelegibility; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
*::-moz-selection { background: yellow none repeat scroll 0% 0%; color: rgb(51, 51, 51); }
p, blockquote, ul, ol, dl { font-size: 15px; margin-bottom: 1.2em; line-height: 1.3em; }
a, a:link, a:visited { position: relative; text-decoration: none; outline: medium none; cursor: pointer; border-bottom: 1px solid rgba(0, 0, 0, 0.2); transition: color 0.6s ease-in 0s; }
a:hover, a:active {  }
a img { display: block; text-decoration: none; border: medium none; }
img { border: medium none; }
img, embed, object, video { max-width: 100%; }
.button { padding: 15px 0px; width: 220px; cursor: pointer; font-size: 14px; letter-spacing: 2px; text-transform: uppercase; background: transparent none repeat scroll 0% 0%; border: 2px solid rgb(0, 0, 0); transition: all 0.6s ease-in 0s; }
.button:hover, .button:active {  }
.fade_in { animation-name: reset, fade-in; animation-duration: 0.7s; animation-timing-function: ease-in; animation-iteration-count: 1; }
#badge { width: 100%; margin-top: 20px; }
#website + #badge { margin-top: 35px; }
#badge a { display: block; margin: 0px auto; width: 79px; height: 23px; border: medium none; text-indent: 100%; white-space: nowrap; overflow: hidden; background: transparent url('bc_badge.png') no-repeat scroll 0% 0%; }
.strip { overflow: hidden; background: transparent none repeat scroll 0% 0%; }
.canvas { position: relative; width: 900px; margin: 0px auto; clear: both; }
#content { padding: 70px 0px; }
#site_header header { margin: 0px; }
#site_header #branding { text-align: center; padding: 40px 0px 55px; }
#site_header #branding a img { margin: 0px auto; width: 19%; }
#site_header #branding a h2 { display: none; }
#site_footer footer { width: 100%; min-width: 900px; clear: both; float: left; margin: 65px auto 0px; padding-bottom: 10px; text-align: center; }
#site_footer footer h3 { display: none; }
#site_footer ul { text-decoration: none; border: medium none; }
#site_footer li { display: inline-block; font-size: 12px; }
#site_footer li a { display: inline-block; padding: 0px 8px; border: medium none; }
#site_footer footer p { font-size: 11px; font-style: italic; }
#site_footer #website { border: 2px solid rgb(0, 0, 0); color: rgb(0, 0, 0); display: block; margin: 35px auto 20px; width: 140px; font-size: 10px; text-transform: uppercase; letter-spacing: 2px; }
#site_footer #website:hover { border-color: rgb(119, 119, 119); color: rgb(119, 119, 119); }
#main_nav { overflow: hidden; margin: 0px auto; text-align: center; }
#main_nav ul { margin: 0px; }
#main_nav li { border-style: solid; border-width: 0px 0px 1px; display: inline-block; font-size: 10px; text-transform: uppercase; letter-spacing: 2px; }
#main_nav li a { display: block; padding: 20px 17px 13px; border: 0px none; }
#mobile_nav { display: none; }
body, .product_header h3, .product_header h5, #product_inventory li h5, #cart_items li .item_option, #cart_summary li h3, #social_links li h4, .standalone .canvas p { font-family: Verdana,Arial,Helvetica,sans-serif; }
h1, h2, h3, h4, h5, h6, .button, #error li, #site_footer ul, #site_footer #search input, #main_nav li, #cart_items li dt, #cart_items li dd, #cart_options #cart_discount p, #cart_summary li span, .standalone .canvas h1, input, #cart_items li .quantity_input input { font-family: Arial Black,"Arial Bold","Arial-BoldMT",Gadget,sans-serif; }
body, #cart_page #content { background-color: rgb(255, 255, 255); }
body, p, blockquote, ul, ol, dl, #error li, #cart_items li .quantity_input input, #main_nav li a:hover, #main_nav li.selected a { color: rgb(51, 51, 51); }
#site_footer footer p, .alert-noproducts, #cart_page #cart_empty p, #success_page #content .canvas p, .standalone .canvas p, #product_description h3, #product_inventory h3, #cart_items li .item_quantity, #cart_items li .item_option, #social_links li h4, #main_nav li a { color: rgb(153, 153, 153); }
a, a:link, a:visited { color: rgb(51, 51, 51); }
a:hover, a:active, #site_header header #store_name a:hover { color: rgb(136, 136, 136); }
#site_header header h1 a, #site_header header h1 a:hover, .product_header.page_header h1, .product_header.page_header h3, .standalone .canvas h1, #site_header header #store_name a, #site_footer footer h3 { color: rgb(51, 51, 51); }
.product a:hover { background-color: rgb(0, 0, 0); }
#main_nav li, .category_nav, #product_inventory, #social_links, #social_links li, #more_products, #more_products nav, #contact_page #page_body p:first-child, #contact_links, #cart_items, #cart_items li, #cart_options, #cart_summary, #cart_summary li, #cart_page #cart_empty, #cart_page #site_footer, #contact_links.no_intro, #site_footer ul, #site_footer ul li { border-color: rgb(229, 229, 229); }
.button { border-color: rgb(0, 0, 0); color: rgb(0, 0, 0); }
.button:hover { border-color: rgb(119, 119, 119); color: rgb(119, 119, 119); }
#home_page #content, #products_page #content { margin-top: 0px; padding: 0px; background: transparent none repeat scroll 0% 0%; }
#products { float: left; clear: both; margin: 0px 0px 0px -30px; line-height: 0; }
.product, .product_header { transition: all 0.45s ease-out 0s; }
.product { position: relative; float: left; width: 280px; height: 280px; margin: 0px 0px 30px 30px; background: transparent none repeat scroll 0% 0%; }
.product a { position: static; display: block; overflow: hidden; width: 100%; height: 100%; font-size: 12px; color: rgb(255, 255, 255) ! important; border-radius: 4px; background: transparent none repeat scroll 0% 0%; border: medium none; }
.product a:hover { color: rgb(255, 255, 255) ! important; }
.product .product_header { position: relative; z-index: 1; opacity: 0; margin: 0px auto; top: 60%; transform: translateY(-50%); }
.product_header h1, .product_header h2, .product_header h3 { margin: 0px; font-size: 16px; line-height: 1.3em; font-weight: normal; text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7); }
.product_header h1, .product_header h2 { width: 95%; margin: 0px auto; font-size: 20px; letter-spacing: 3px; text-transform: uppercase; }
.product_header h3 { margin-left: -1px; }
.product_header h3 span { position: relative; top: -3px; font-size: 0.7em; }
.product_header .dash { display: block; width: 24px; height: 1px; margin: 6px auto 10px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7); }
.product_header h5 { position: absolute; top: -13px; left: 0px; width: 100%; font-size: 11px; font-style: italic; color: rgb(221, 221, 221); text-align: center; text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7); }
.product_thumb { position: absolute; margin: 0px auto; top: 0px; overflow: hidden; height: 280px; }
.product_thumb img { width: 280px; border-radius: 4px; position: relative; top: 50%; transform: translateY(-50%); }
.product:hover { background: transparent none repeat scroll 0% 0%; }
.product a:hover { overflow: hidden; box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.4); background-clip: padding-box; }
.product a:hover .product_header { opacity: 0.9; margin-top: 40%; position: relative; top: 11%; }
.product a:hover .product_thumb { opacity: 0.4; }
.product a:hover .product_thumb img { border-radius: 0px; }
.category_nav li::before { content: "/"; padding: 0px 4px 0px 0px; }
.category_nav li:first-child::before { content: " "; }
#more_products ul#products li:nth-child(4) { display: none; }
#more_products nav li::before { content: "/"; padding: 0px 4px 0px 0px; }
#more_products nav li:first-child::before { content: ""; }
#contact_links li::after { content: "/"; padding: 0px 0px 0px 4px; }
#contact_links li:last-child::after { content: ""; }
@media screen and (max-width: 569px), screen and (max-device-width: 569px) and (orientation: landscape) {
  p, blockquote, ul, ol, dl { font-size: 17px; line-height: 1.4em; }
  .button { display: block; width: 100%; padding: 17px 0px ! important; }
  #error { width: 90%; margin: -10px auto 30px; }
  #error li { width: 100%; padding: 6px 0px 3px; }
  .strip { overflow: hidden; background: transparent none repeat scroll 0% 0%; }
  .canvas { position: relative; width: 100%; margin: 0px auto; clear: both; }
  .standalone .canvas { width: 65%; }
  #content { margin-top: 0px; padding: 40px 0px; }
  #page_body { width: 90%; margin: 0px auto; }
  #main_nav { display: none; }
  #mobile_nav { display: block; margin-bottom: 30px; }
  #mobile_nav { text-align: center; }
  #mobile_nav li { display: inline-block; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; text-decoration: underline; }
  #mobile_nav li a { display: block; padding: 20px 15px 13px; border: 0px none; }
  #site_header header #store_name { margin: 30px auto 0px; font-size: 36px; letter-spacing: 3px; overflow-wrap: break-word; }
  #site_header #branding { width: 90%; margin: 0px auto; text-align: center; padding: 30px 0px 5px; }
  #site_footer footer { min-width: 0px; margin-top: 30px; }
  #site_footer ul { width: 90%; margin: 0px auto; border-top: medium none; }
  #site_footer li { display: block; font-size: 12px; text-transform: uppercase; letter-spacing: 2px; text-align: center; border-bottom: 1px solid rgb(229, 229, 229); font-family: Verdana,Arial,Helvetica,sans-serif; }
  #site_footer li:last-child { border-bottom: medium none; }
  #site_footer li a { display: block; padding: 8px 0px; border: medium none; }
  #site_footer footer p { margin-top: 30px; }
  #site_footer #search input { width: 95%; padding: 10px 5px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: medium none; }
  #products { width: 100%; margin: 0px ! important; }
  .product_header h2 { font-size: 16px; }
  .product_header h5 { font-size: 14px; }
  #products.single_product, #products.double_product { float: none; margin: 0px; width: 100%; left: 0px; }
  .product, .product_header, .product_thumb, .product_thumb img { transition: none 0s ease 0s ; border-radius: 0px ! important; }
  .product { float: none; overflow: hidden; width: 100%; height: 150px; margin: 0px; border-radius: 0px ! important; background: rgb(0, 0, 0) none repeat scroll 0% 0%; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset; }
  .product a:hover, .product:hover { border-radius: 0px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4) inset; }
  .product a { border-radius: 0px; }
  .product:first-child { box-shadow: none; }
  .product .product_header { opacity: 1; width: 100%; }
  .product a:hover .product_header { opacity: 1; width: 100%; margin: 0px auto; top: 60%; }
  .product_thumb { position: absolute; width: 100%; height: 100%; margin: 0px; opacity: 0.4; border-radius: 0px; }
  .product .product_thumb img { min-width: 100%; width: 100%; height: auto; transform: none; top: 0px; }
  .product a:hover .product_thumb img { transform: none; top: 0px; }
  .category_nav:first-child { margin-top: 10px; margin-bottom: 0px; }
  .category_nav.double nav.categories, .category_nav.double nav.artists { width: 100%; display: inline-block; }
  .category_nav.double nav.categories, .category_nav.double nav.artists { text-align: center; margin: 0px; }
  .category_nav h3 { margin-bottom: 6px; }
  .category_nav li a { padding: 10px 4px; }
  #pagination { margin-top: 30px; margin-bottom: 28px; }
  #pagination span, #pagination a { padding: 8px 10px; border: medium none; }
  #product_page #content .product_header { float: none; width: 100%; margin-top: 0px; margin-bottom: 25px; }
  #product_images { float: none; width: 90%; margin: 0px auto; }
  #product_images li img { min-width: 100%; box-shadow: none; border-radius: 0px; }
  #product_images li { margin-bottom: 5px; }
  #product_images li { margin-bottom: 5px; }
  #product_images .flex-control-nav { bottom: -25px; }
  #product_info { float: none; clear: none; width: 90%; margin: 40px auto 0px; }
  #product_inventory { margin: 35px 0px 0px; padding: 15px 15px 2px; }
  #product_inventory h3 { margin-bottom: 10px; font-size: 11px; text-align: left; }
  #product_inventory li { width: 100%; }
  #product_inventory li h5 { font-size: 13px; }
  #product_form { margin-top: 38px; }
  #product_form select { width: 100%; }
  #social_links { margin-bottom: 0px; }
  #social_links li { height: 50px; }
  #social_links li h4 { display: none; }
  #social_links .social_action { display: block; top: 16px; }
  #social_links #social_facebook iframe, #social_links #social_tweet iframe, #social_links #social_pinterest iframe { margin-left: 32% ! important; }
  #more_products { margin-top: 0px; padding-bottom: 0px; }
  #more_products h3:first-child { padding-top: 35px; text-align: center; }
  #more_products ul#products { overflow: hidden; margin-top: 30px ! important; }
  #more_products nav { clear: both; position: relative; top: 0px; right: 0px; text-align: center; margin: 0px auto; border-top: 1px solid rgb(229, 229, 229); padding: 18px 0px 5px; }
  #more_products nav li a { padding: 10px 4px; }
  #contact_links li a { padding: 10px 4px; }
  #contact_form { float: left; }
  #contact_form ul { margin-bottom: 25px; }
  #contact_form li { padding: 0px; }
  #contact_form input, #contact_form textarea { width: 95%; margin: 0px auto; }
  #captcha_img input { float: left; width: 45%; padding: 17px 8px; margin-right: 0px; }
  #contact_page #contact_button { width: 100%; clear: both; }
  #cart_page #site_footer footer { margin-top: 30px; }
  #cart_page #content { padding-bottom: 0px; }
  #cart-form { padding: 0px; }
  #cart-form.no_options { margin-bottom: 0px; }
  #cart_description { width: auto; float: none; }
  #cart_items { float: left; width: 100%; margin: 0px; border-bottom: 1px solid rgb(229, 229, 229); }
  #cart_items li { float: none; }
  #cart_items li dl { float: left; margin-top: 21px; width: 56%; }
  #cart_items li dt { width: 73%; }
  #cart_items .item_image { float: left; margin: 20px 7px 20px 8px; }
  #cart_items li .item_quantity { display: none; }
  #cart_items li .quantity_input { display: inline-block; left: 72%; }
  #cart_items li .remove_item { opacity: 1; left: 88%; }
  #cart_options { float: none; clear: both; width: 90%; padding: 15px 0px 2px; margin: 0px auto; border-bottom: medium none; }
  #cart_options li { margin-bottom: 10px; }
  #cart_options label { float: none; margin: 0px; text-align: left; }
  #cart_options select { margin-top: 3px; width: 100%; }
  #cart_options input { width: 94%; }
  #cart_options .no_shipping { margin-top: 0px; margin-left: 0px; }
  #cart_options #cart_discount p { padding: 3px 0px 0px; }
  .solo_update { display: none; }
  .cart-update { margin-left: 0px; }
  .cart-update .button { width: 100%; }
  #cart_summary { float: none; clear: both; width: 100%; margin: 0px auto; padding-bottom: 20px; padding-top: 10px; border-top: medium none; }
  #cart_summary ul { padding: 0px; width: 90%; margin-left: auto; margin-right: auto; }
  #cart_summary button { float: none; width: 90%; margin: 0px auto 2px; }
}
@media screen and (min-width: 569px) and (max-width: 800px) {
  #site_header header #store_name { overflow-wrap: break-word; }
  .button { display: block; width: 100%; padding: 17px 0px ! important; }
  #error { width: 90%; margin: -5px auto 30px; }
  .strip { overflow: hidden; background: transparent none repeat scroll 0% 0%; }
  .canvas { position: relative; width: 640px ! important; margin: 0px auto; clear: both; }
  .standalone .canvas { width: 95%; }
  #content { margin-top: 0px; padding: 40px 0px; }
  #page_body { width: 640px; margin: 0px auto; }
  .custom #page_body, #contact_page #page_body { width: 550px; }
  #site_header { margin: 0px auto; }
  #site_footer footer { min-width: 0px; float: none; }
  #main_nav { overflow: hidden; width: 100%; margin: 0px auto; text-align: center; }
  #home_page #site_footer footer { margin-top: 0px; }
  #products { float: none; overflow: hidden; clear: both; width: 640px; margin: 0px auto 30px -5px; }
  .category_nav:first-child { margin-top: 10px; }
  .category_nav.double nav.categories, .category_nav.double nav.artists { width: 100%; display: inline-block; }
  .category_nav.double nav.categories, .category_nav.double nav.artists { text-align: center; margin: 0px; }
  .category_nav li a { padding: 10px 4px; }
  #products_page #pagination { margin-top: 0px; margin-bottom: 50px; }
  #pagination span, #pagination a { padding: 8px 10px; border: medium none; }
  #product_page #content .product_header { float: none; width: 100%; margin-top: 0px; margin-bottom: 25px; }
  #product_images { float: none; width: 92%; margin: 0px auto; }
  #product_images li img { min-width: 100%; box-shadow: none; border-radius: 0px; }
  #product_images li { margin-bottom: 5px; }
  #product_images .flex-control-nav { bottom: -25px ! important; }
  #product_info { float: none; clear: none; width: 70%; margin: 40px auto; }
  #product_inventory { margin: 35px 0px 0px; padding: 15px 15px 2px; }
  #product_inventory h3 { margin-bottom: 10px; font-size: 11px; text-align: left; }
  #product_inventory li { width: 100%; }
  #product_inventory li h5 { font-size: 13px; }
  #product_form { margin-top: 30px; }
  #product_form select { width: 100%; }
  .button { padding: 17px 0px ! important; width: 100%; }
  #social_links { margin-top: 30px; }
  #social_links li { height: 50px; }
  #social_links li h4 { display: none; }
  #social_links .social_action { display: block; top: 16px; }
  #social_links #social_facebook iframe, #social_links #social_pinterest iframe, #social_links #social_tweet iframe { margin-left: 32% ! important; }
  #more_products { padding-bottom: 0px; }
  #more_products.no_products { margin-top: 0px; padding: 0px 0px 20px; }
  #more_products.no_products nav { padding-top: 20px; }
  #more_products h3:first-child { text-align: center; }
  #more_products ul#products { overflow: hidden; margin-top: 30px; }
  #more_products ul#products li:nth-child(3) { display: none; }
  #more_products nav { clear: both; position: relative; top: 0px; right: 0px; text-align: center; margin: 0px auto; border-top: 1px solid rgb(229, 229, 229); padding: 15px 0px 5px; }
  #more_products nav li a { padding: 10px 4px; }
  #contact_page #page_body { margin-bottom: 40px; }
  #contact_links li a { padding: 10px 4px; }
  #contact_form input, #contact_form textarea { width: 96%; margin: 0px auto; }
  #captcha_img input { float: left; width: 70%; padding: 17px 8px; margin-right: 0px; }
  #contact_page #contact_button { width: 100%; clear: both; }
  #cart_page #site_footer { border-top: 1px solid rgb(229, 229, 229); }
  #cart_page #site_footer footer { margin-top: 30px; }
  #cart-form { padding: 0px; }
  #cart_description { width: auto; float: none; }
  #cart_items { float: none; width: 70%; margin: 0px auto; }
  #cart_items li { float: none; }
  #cart_items li dl { float: left; width: 58%; }
  #cart_items .item_image { float: left; margin: 20px 10px; }
  #cart_items li .item_quantity { display: none; }
  #cart_items li .quantity_input { display: inline-block; left: 75%; }
  #cart_items li .remove_item { opacity: 1; left: 92%; }
  #cart_options { float: none; clear: both; width: 70%; margin: 0px auto; padding: 30px 0px 10px; border: medium none; }
  #cart_options label { float: none; margin: 0px; text-align: left; }
  #cart_options select { margin-top: 3px; width: 100%; }
  #cart_options input { width: 96%; }
  #cart_options .no_shipping { margin-top: 0px; margin-left: 0px; }
  #cart_options #cart_discount p { padding: 3px 0px 0px; }
  .solo_update { display: none; }
  .cart-update { margin-left: 0px; }
  .cart-update .button { width: 100%; }
  #cart_summary { float: none; width: 70%; margin: 0px auto; padding-top: 0px; padding-bottom: 10px; border: medium none; }
  #cart_summary ul { padding: 15px; border-top: 0px none; }
  #cart_summary button { width: 100%; margin: 0px auto 10px; }
}
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (orientation: landscape) {
  #social_links li h4 { display: none; }
  #social_links .social_action { display: block; }
}
@media screen and (max-width: 768px) {
  .flex-direction-nav .flex-prev { display: none; }
  .flex-direction-nav .flex-next { display: none; }
  .flexslider .slides img { border-radius: 0px; }
  .flexslider { margin-bottom: 50px; }
  .flexslider .flex-control-nav { bottom: -35px; }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .flex-direction-nav .flex-prev { display: none; }
  .flex-direction-nav .flex-next { display: none; }
}
