/* ::::: https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css ::::: */

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #868e96;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #868e96;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

@media print {
    *,
    *::after,
    *::before {
        text-shadow: none ! important;
        box-shadow: none ! important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    abbr[title]::after {
        content: " (" attr(title) ")";
    }
    pre {
        white-space: pre-wrap ! important;
    }
    blockquote,
    pre {
        border: 1px solid rgb(153, 153, 153);
        page-break-inside: avoid;
    }
    thead {
        display: table-header-group;
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    h2,
    h3,
    p {}
    h2,
    h3 {
        page-break-after: avoid;
    }
    .navbar {
        display: none;
    }
    .badge {
        border: 1px solid rgb(0, 0, 0);
    }
    .table {
        border-collapse: collapse ! important;
    }
    .table td,
    .table th {
        background-color: rgb(255, 255, 255) ! important;
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid rgb(221, 221, 221) ! important;
    }
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
}

article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(33, 37, 41);
    text-align: left;
    background-color: rgb(255, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0px;
    margin-bottom: 0.5rem;
}

dl,
ol,
ul {
    margin-top: 0px;
    margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0px;
}

a {
    color: rgb(0, 123, 255);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: rgb(0, 86, 179);
    text-decoration: underline;
}

a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:focus:not([href]):not([tabindex]),
a:hover:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:focus:not([href]):not([tabindex]) {
    outline: 0px none;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg:not(:root) {
    overflow: hidden;
}

[role="button"],
a,
area,
button,
input:not([type="range"]),
label,
select,
summary,
textarea {
    touch-action: manipulation;
}

button {
    border-radius: 0px;
}

button:focus {
    outline: 1px dotted;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

[type="reset"],
[type="submit"],
button,
html [type="button"] {}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
    padding: 0px;
    border-style: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.h1,
h1 {
    font-size: 2.5rem;
}

.h2,
h2 {
    font-size: 2rem;
}

.list-inline-item:not(:last-child) {
    margin-right: 5px;
}

.blockquote-footer::before {
    content: "— ";
}

.img-fluid {
    max-width: 100%;
    height: 100%;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm {
        flex-basis: 0px;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-sm-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-sm-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-sm-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-sm-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .col-sm-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-sm-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-sm-first {
        order: -1;
    }
    .order-sm-1 {
        order: 1;
    }
    .order-sm-2 {
        order: 2;
    }
    .order-sm-3 {
        order: 3;
    }
    .order-sm-4 {
        order: 4;
    }
    .order-sm-5 {
        order: 5;
    }
    .order-sm-6 {
        order: 6;
    }
    .order-sm-7 {
        order: 7;
    }
    .order-sm-8 {
        order: 8;
    }
    .order-sm-9 {
        order: 9;
    }
    .order-sm-10 {
        order: 10;
    }
    .order-sm-11 {
        order: 11;
    }
    .order-sm-12 {
        order: 12;
    }
    .offset-sm-0 {
        margin-left: 0px;
    }
    .offset-sm-1 {
        margin-left: 8.33333%;
    }
    .offset-sm-2 {
        margin-left: 16.6667%;
    }
    .offset-sm-3 {
        margin-left: 25%;
    }
    .offset-sm-4 {
        margin-left: 33.3333%;
    }
    .offset-sm-5 {
        margin-left: 41.6667%;
    }
    .offset-sm-6 {
        margin-left: 50%;
    }
    .offset-sm-7 {
        margin-left: 58.3333%;
    }
    .offset-sm-8 {
        margin-left: 66.6667%;
    }
    .offset-sm-9 {
        margin-left: 75%;
    }
    .offset-sm-10 {
        margin-left: 83.3333%;
    }
    .offset-sm-11 {
        margin-left: 91.6667%;
    }
}

@media (min-width: 768px) {
    .col-md {
        flex-basis: 0px;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-md-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-md-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-md-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-md-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .col-md-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-md-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-md-first {
        order: -1;
    }
    .order-md-1 {
        order: 1;
    }
    .order-md-2 {
        order: 2;
    }
    .order-md-3 {
        order: 3;
    }
    .order-md-4 {
        order: 4;
    }
    .order-md-5 {
        order: 5;
    }
    .order-md-6 {
        order: 6;
    }
    .order-md-7 {
        order: 7;
    }
    .order-md-8 {
        order: 8;
    }
    .order-md-9 {
        order: 9;
    }
    .order-md-10 {
        order: 10;
    }
    .order-md-11 {
        order: 11;
    }
    .order-md-12 {
        order: 12;
    }
    .offset-md-0 {
        margin-left: 0px;
    }
    .offset-md-1 {
        margin-left: 8.33333%;
    }
    .offset-md-2 {
        margin-left: 16.6667%;
    }
    .offset-md-3 {
        margin-left: 25%;
    }
    .offset-md-4 {
        margin-left: 33.3333%;
    }
    .offset-md-5 {
        margin-left: 41.6667%;
    }
    .offset-md-6 {
        margin-left: 50%;
    }
    .offset-md-7 {
        margin-left: 58.3333%;
    }
    .offset-md-8 {
        margin-left: 66.6667%;
    }
    .offset-md-9 {
        margin-left: 75%;
    }
    .offset-md-10 {
        margin-left: 83.3333%;
    }
    .offset-md-11 {
        margin-left: 91.6667%;
    }
}

@media (min-width: 992px) {
    .col-lg {
        flex-basis: 0px;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-lg-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-lg-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-lg-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-lg-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-lg-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-lg-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .col-lg-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-lg-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-lg-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-lg-first {
        order: -1;
    }
    .order-lg-1 {
        order: 1;
    }
    .order-lg-2 {
        order: 2;
    }
    .order-lg-3 {
        order: 3;
    }
    .order-lg-4 {
        order: 4;
    }
    .order-lg-5 {
        order: 5;
    }
    .order-lg-6 {
        order: 6;
    }
    .order-lg-7 {
        order: 7;
    }
    .order-lg-8 {
        order: 8;
    }
    .order-lg-9 {
        order: 9;
    }
    .order-lg-10 {
        order: 10;
    }
    .order-lg-11 {
        order: 11;
    }
    .order-lg-12 {
        order: 12;
    }
    .offset-lg-0 {
        margin-left: 0px;
    }
    .offset-lg-1 {
        margin-left: 8.33333%;
    }
    .offset-lg-2 {
        margin-left: 16.6667%;
    }
    .offset-lg-3 {
        margin-left: 25%;
    }
    .offset-lg-4 {
        margin-left: 33.3333%;
    }
    .offset-lg-5 {
        margin-left: 41.6667%;
    }
    .offset-lg-6 {
        margin-left: 50%;
    }
    .offset-lg-7 {
        margin-left: 58.3333%;
    }
    .offset-lg-8 {
        margin-left: 66.6667%;
    }
    .offset-lg-9 {
        margin-left: 75%;
    }
    .offset-lg-10 {
        margin-left: 83.3333%;
    }
    .offset-lg-11 {
        margin-left: 91.6667%;
    }
}

@media (min-width: 1200px) {
    .col-xl {
        flex-basis: 0px;
        flex-grow: 1;
        max-width: 100%;
    }
    .col-xl-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }
    .col-xl-1 {
        flex: 0 0 8.33333%;
        max-width: 8.33333%;
    }
    .col-xl-2 {
        flex: 0 0 16.6667%;
        max-width: 16.6667%;
    }
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-xl-4 {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }
    .col-xl-5 {
        flex: 0 0 41.6667%;
        max-width: 41.6667%;
    }
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-xl-7 {
        flex: 0 0 58.3333%;
        max-width: 58.3333%;
    }
    .col-xl-8 {
        flex: 0 0 66.6667%;
        max-width: 66.6667%;
    }
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-xl-10 {
        flex: 0 0 83.3333%;
        max-width: 83.3333%;
    }
    .col-xl-11 {
        flex: 0 0 91.6667%;
        max-width: 91.6667%;
    }
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .order-xl-first {
        order: -1;
    }
    .order-xl-1 {
        order: 1;
    }
    .order-xl-2 {
        order: 2;
    }
    .order-xl-3 {
        order: 3;
    }
    .order-xl-4 {
        order: 4;
    }
    .order-xl-5 {
        order: 5;
    }
    .order-xl-6 {
        order: 6;
    }
    .order-xl-7 {
        order: 7;
    }
    .order-xl-8 {
        order: 8;
    }
    .order-xl-9 {
        order: 9;
    }
    .order-xl-10 {
        order: 10;
    }
    .order-xl-11 {
        order: 11;
    }
    .order-xl-12 {
        order: 12;
    }
    .offset-xl-0 {
        margin-left: 0px;
    }
    .offset-xl-1 {
        margin-left: 8.33333%;
    }
    .offset-xl-2 {
        margin-left: 16.6667%;
    }
    .offset-xl-3 {
        margin-left: 25%;
    }
    .offset-xl-4 {
        margin-left: 33.3333%;
    }
    .offset-xl-5 {
        margin-left: 41.6667%;
    }
    .offset-xl-6 {
        margin-left: 50%;
    }
    .offset-xl-7 {
        margin-left: 58.3333%;
    }
    .offset-xl-8 {
        margin-left: 66.6667%;
    }
    .offset-xl-9 {
        margin-left: 75%;
    }
    .offset-xl-10 {
        margin-left: 83.3333%;
    }
    .offset-xl-11 {
        margin-left: 91.6667%;
    }
}

.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(0, 0, 0, 0.05);
}

.table-dark.table-striped tbody tr:nth-of-type(2n+1) {
    background-color: rgba(255, 255, 255, 0.05);
}

@media (max-width: 575px) {
    .table-responsive-sm {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-responsive-sm.table-bordered {
        border: 0px none;
    }
}

@media (max-width: 767px) {
    .table-responsive-md {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-responsive-md.table-bordered {
        border: 0px none;
    }
}

@media (max-width: 991px) {
    .table-responsive-lg {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-responsive-lg.table-bordered {
        border: 0px none;
    }
}

@media (max-width: 1199px) {
    .table-responsive-xl {
        display: block;
        width: 100%;
        overflow-x: auto;
    }
    .table-responsive-xl.table-bordered {
        border: 0px none;
    }
}

.form-control::placeholder {
    color: rgb(134, 142, 150);
    opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 2px);
}

.input-group-sm>.input-group-btn>select.btn:not([size]):not([multiple]),
.input-group-sm>select.form-control:not([size]):not([multiple]),
.input-group-sm>select.input-group-addon:not([size]):not([multiple]),
select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px);
}

.input-group-lg>.input-group-btn>select.btn:not([size]):not([multiple]),
.input-group-lg>select.form-control:not([size]):not([multiple]),
.input-group-lg>select.input-group-addon:not([size]):not([multiple]),
select.form-control-lg:not([size]):not([multiple]) {
    height: calc(2.875rem + 2px);
}

.custom-file-input.is-valid~.custom-file-control::before,
.was-validated .custom-file-input:valid~.custom-file-control::before {
    border-color: inherit;
}

.custom-file-input.is-invalid~.custom-file-control::before,
.was-validated .custom-file-input:invalid~.custom-file-control::before {
    border-color: inherit;
}

@media (min-width: 576px) {
    .form-inline label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
    }
    .form-inline .form-group {
        display: flex;
        flex: 0 0 auto;
        flex-flow: row wrap;
        align-items: center;
        margin-bottom: 0px;
    }
    .form-inline .form-control {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
    .form-inline .form-control-plaintext {
        display: inline-block;
    }
    .form-inline .input-group {
        width: auto;
    }
    .form-inline .form-check {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .form-inline .form-check-label {
        padding-left: 0px;
    }
    .form-inline .form-check-input {
        position: relative;
        margin-top: 0px;
        margin-right: 0.25rem;
        margin-left: 0px;
    }
    .form-inline .custom-control {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0px;
    }
    .form-inline .custom-control-indicator {
        position: static;
        display: inline-block;
        margin-right: 0.25rem;
        vertical-align: text-bottom;
    }
    .form-inline .has-feedback .form-control-feedback {
        top: 0px;
    }
}

.btn.active:not([disabled]):not(.disabled),
.btn:active:not([disabled]):not(.disabled) {
    background-image: none;
}

.btn-primary.active:not([disabled]):not(.disabled),
.btn-primary:active:not([disabled]):not(.disabled),
.show>.btn-primary.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 98, 204);
    border-color: rgb(0, 92, 191);
    box-shadow: 0px 0px 0px 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-secondary.active:not([disabled]):not(.disabled),
.btn-secondary:active:not([disabled]):not(.disabled),
.show>.btn-secondary.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(108, 117, 125);
    border-color: rgb(102, 110, 118);
    box-shadow: 0px 0px 0px 0.2rem rgba(134, 142, 150, 0.5);
}

.btn-success.active:not([disabled]):not(.disabled),
.btn-success:active:not([disabled]):not(.disabled),
.show>.btn-success.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(30, 126, 52);
    border-color: rgb(28, 116, 48);
    box-shadow: 0px 0px 0px 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-info.active:not([disabled]):not(.disabled),
.btn-info:active:not([disabled]):not(.disabled),
.show>.btn-info.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(17, 122, 139);
    border-color: rgb(16, 112, 127);
    box-shadow: 0px 0px 0px 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-warning.active:not([disabled]):not(.disabled),
.btn-warning:active:not([disabled]):not(.disabled),
.show>.btn-warning.dropdown-toggle {
    color: rgb(17, 17, 17);
    background-color: rgb(211, 158, 0);
    border-color: rgb(198, 149, 0);
    box-shadow: 0px 0px 0px 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-danger.active:not([disabled]):not(.disabled),
.btn-danger:active:not([disabled]):not(.disabled),
.show>.btn-danger.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 33, 48);
    border-color: rgb(178, 31, 45);
    box-shadow: 0px 0px 0px 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-light.active:not([disabled]):not(.disabled),
.btn-light:active:not([disabled]):not(.disabled),
.show>.btn-light.dropdown-toggle {
    color: rgb(17, 17, 17);
    background-color: rgb(218, 224, 229);
    border-color: rgb(211, 217, 223);
    box-shadow: 0px 0px 0px 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-dark.active:not([disabled]):not(.disabled),
.btn-dark:active:not([disabled]):not(.disabled),
.show>.btn-dark.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 33, 36);
    border-color: rgb(23, 26, 29);
    box-shadow: 0px 0px 0px 0.2rem rgba(52, 58, 64, 0.5);
}

.btn-outline-primary.active:not([disabled]):not(.disabled),
.btn-outline-primary:active:not([disabled]):not(.disabled),
.show>.btn-outline-primary.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
    box-shadow: 0px 0px 0px 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-outline-secondary.active:not([disabled]):not(.disabled),
.btn-outline-secondary:active:not([disabled]):not(.disabled),
.show>.btn-outline-secondary.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(134, 142, 150);
    border-color: rgb(134, 142, 150);
    box-shadow: 0px 0px 0px 0.2rem rgba(134, 142, 150, 0.5);
}

.btn-outline-success.active:not([disabled]):not(.disabled),
.btn-outline-success:active:not([disabled]):not(.disabled),
.show>.btn-outline-success.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(40, 167, 69);
    border-color: rgb(40, 167, 69);
    box-shadow: 0px 0px 0px 0.2rem rgba(40, 167, 69, 0.5);
}

.btn-outline-info.active:not([disabled]):not(.disabled),
.btn-outline-info:active:not([disabled]):not(.disabled),
.show>.btn-outline-info.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(23, 162, 184);
    border-color: rgb(23, 162, 184);
    box-shadow: 0px 0px 0px 0.2rem rgba(23, 162, 184, 0.5);
}

.btn-outline-warning.active:not([disabled]):not(.disabled),
.btn-outline-warning:active:not([disabled]):not(.disabled),
.show>.btn-outline-warning.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 193, 7);
    border-color: rgb(255, 193, 7);
    box-shadow: 0px 0px 0px 0.2rem rgba(255, 193, 7, 0.5);
}

.btn-outline-danger.active:not([disabled]):not(.disabled),
.btn-outline-danger:active:not([disabled]):not(.disabled),
.show>.btn-outline-danger.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(220, 53, 69);
    border-color: rgb(220, 53, 69);
    box-shadow: 0px 0px 0px 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-light.active:not([disabled]):not(.disabled),
.btn-outline-light:active:not([disabled]):not(.disabled),
.show>.btn-outline-light.dropdown-toggle {
    color: rgb(33, 37, 41);
    background-color: rgb(248, 249, 250);
    border-color: rgb(248, 249, 250);
    box-shadow: 0px 0px 0px 0.2rem rgba(248, 249, 250, 0.5);
}

.btn-outline-dark.active:not([disabled]):not(.disabled),
.btn-outline-dark:active:not([disabled]):not(.disabled),
.show>.btn-outline-dark.dropdown-toggle {
    color: rgb(255, 255, 255);
    background-color: rgb(52, 58, 64);
    border-color: rgb(52, 58, 64);
    box-shadow: 0px 0px 0px 0.2rem rgba(52, 58, 64, 0.5);
}

.collapse {
    display: none;
}

.dropdown-toggle::after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-width: 0.3em 0.3em 0px;
    border-style: solid solid none;
    border-color: currentcolor transparent;
}

.dropdown-toggle:empty::after {
    margin-left: 0px;
}

.dropup .dropdown-toggle::after {
    display: inline-block;
    width: 0px;
    height: 0px;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-width: 0px 0.3em 0.3em;
    border-style: none solid solid;
    border-color: currentcolor transparent;
}

.dropup .dropdown-toggle:empty::after {
    margin-left: 0px;
}

.btn-group>.btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0px;
}

.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-group>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0px;
}

.btn-group>.btn-group:first-child:not(:last-child)>.btn:last-child,
.btn-group>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.btn-group>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn+.dropdown-toggle-split::after {
    margin-left: 0px;
}

.btn-group-vertical>.btn:not(:first-child):not(:last-child) {
    border-radius: 0px;
}

.btn-group-vertical>.btn:first-child:not(:last-child) {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-group-vertical>.btn:last-child:not(:first-child) {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.btn-group-vertical>.btn-group:not(:first-child):not(:last-child)>.btn {
    border-radius: 0px;
}

.btn-group-vertical>.btn-group:first-child:not(:last-child)>.btn:last-child,
.btn-group-vertical>.btn-group:first-child:not(:last-child)>.dropdown-toggle {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.btn-group-vertical>.btn-group:last-child:not(:first-child)>.btn:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 0px;
}

.input-group .form-control:not(:last-child),
.input-group-addon:not(:last-child),
.input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn,
.input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group>.btn,
.input-group-btn:not(:last-child)>.dropdown-toggle {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.input-group-addon:not(:last-child) {
    border-right: 0px none;
}

.input-group .form-control:not(:first-child),
.input-group-addon:not(:first-child),
.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group>.btn,
.input-group-btn:not(:first-child)>.dropdown-toggle,
.input-group-btn:not(:last-child)>.btn-group:not(:first-child)>.btn,
.input-group-btn:not(:last-child)>.btn:not(:first-child) {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-control+.input-group-addon:not(:first-child) {
    border-left: 0px none;
}

.input-group-btn:not(:last-child)>.btn,
.input-group-btn:not(:last-child)>.btn-group {
    margin-right: -1px;
}

.input-group-btn:not(:first-child)>.btn,
.input-group-btn:not(:first-child)>.btn-group {
    z-index: 2;
    margin-left: 0px;
}

.input-group-btn:not(:first-child)>.btn-group:first-child,
.input-group-btn:not(:first-child)>.btn:first-child {
    margin-left: -1px;
}

.input-group-btn:not(:first-child)>.btn-group:active,
.input-group-btn:not(:first-child)>.btn-group:focus,
.input-group-btn:not(:first-child)>.btn-group:hover,
.input-group-btn:not(:first-child)>.btn:active,
.input-group-btn:not(:first-child)>.btn:focus,
.input-group-btn:not(:first-child)>.btn:hover {
    z-index: 3;
}

.custom-file-control:lang(en):empty::after {
    content: "Choose file...";
}

.custom-file-control::before {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    z-index: 6;
    display: block;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: rgb(73, 80, 87);
    background-color: rgb(233, 236, 239);
    border: 1px solid rgb(206, 212, 218);
    border-radius: 0px 0.25rem 0.25rem 0px;
}

.custom-file-control:lang(en)::before {
    content: "Browse";
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: outside none none;
}

.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: none;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}

.navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent none repeat scroll 0px 0px;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none;
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: transparent none no-repeat scroll center center / 100% 100%;
}

@media (max-width: 575px) {
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu-right {
        right: 0px;
        left: auto;
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex ! important;
        flex-basis: auto;
    }
    .navbar-expand-sm .navbar-toggler {
        display: none;
    }
    .navbar-expand-sm .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 767px) {
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-md .navbar-nav .dropdown-menu-right {
        right: 0px;
        left: auto;
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-md .navbar-collapse {
        display: flex ! important;
        flex-basis: auto;
    }
    .navbar-expand-md .navbar-toggler {
        display: none;
    }
    .navbar-expand-md .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 991px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu-right {
        right: 0px;
        left: auto;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex ! important;
        flex-basis: auto;
    }
    .navbar-expand-lg .navbar-toggler {
        display: none;
    }
    .navbar-expand-lg .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

@media (max-width: 1199px) {
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (min-width: 1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-xl .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu-right {
        right: 0px;
        left: auto;
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        flex-wrap: nowrap;
    }
    .navbar-expand-xl .navbar-collapse {
        display: flex ! important;
        flex-basis: auto;
    }
    .navbar-expand-xl .navbar-toggler {
        display: none;
    }
    .navbar-expand-xl .dropup .dropdown-menu {
        top: auto;
        bottom: 100%;
    }
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox=\'0 0 30 30\' xmlns=\'http://www.w3.org/2000/svg\'%3E%3Cpath stroke=\'rgba(0, 0, 0, 0.5)\' stroke-width=\'2\' stroke-linecap=\'round\' stroke-miterlimit=\'10\' d=\'M4 7h22M4 15h22M4 23h22\'/%3E%3C/svg%3E");
}

@media (min-width: 576px) {
    .card-deck {
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px;
    }
    .card-deck .card {
        display: flex;
        flex: 1 0 0%;
        flex-direction: column;
        margin-right: 15px;
        margin-bottom: 0px;
        margin-left: 15px;
    }
}

@media (min-width: 576px) {
    .card-group {
        flex-flow: row wrap;
    }
    .card-group .card {
        flex: 1 0 0%;
        margin-bottom: 0px;
    }
    .card-group .card+.card {
        margin-left: 0px;
        border-left: 0px none;
    }
    .card-group .card:first-child {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0px;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0px;
    }
    .card-group .card:last-child {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0px;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0px;
    }
    .card-group .card:only-child {
        border-radius: 0.25rem;
    }
    .card-group .card:only-child .card-img-top {
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
    .card-group .card:only-child .card-img-bottom {
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
    }
    .card-group .card:not(:first-child):not(:last-child):not(:only-child) {
        border-radius: 0px;
    }
    .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom,
    .card-group .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top {
        border-radius: 0px;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: rgb(134, 142, 150);
    content: "/";
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: underline;
}

.breadcrumb-item+.breadcrumb-item:hover::before {
    text-decoration: none;
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 4rem 2rem;
    }
}

.list-group {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 0px;
}

.modal-footer> :not(:first-child) {
    margin-left: 0.25rem;
}

.modal-footer> :not(:last-child) {
    margin-right: 0.25rem;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 30px auto;
    }
    .modal-sm {
        max-width: 300px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 800px;
    }
}

.tooltip .arrow::before {
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.tooltip.bs-tooltip-top .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 5px 5px 0px;
    border-top-color: rgb(0, 0, 0);
}

.tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.tooltip.bs-tooltip-right .arrow::before {
    margin-top: -3px;
    content: "";
    border-width: 5px 5px 5px 0px;
    border-right-color: rgb(0, 0, 0);
}

.tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.tooltip.bs-tooltip-bottom .arrow::before {
    margin-left: -3px;
    content: "";
    border-width: 0px 5px 5px;
    border-bottom-color: rgb(0, 0, 0);
}

.tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.tooltip.bs-tooltip-left .arrow::before {
    right: 0px;
    margin-top: -3px;
    content: "";
    border-width: 5px 0px 5px 5px;
    border-left-color: rgb(0, 0, 0);
}

.popover .arrow::after,
.popover .arrow::before {
    position: absolute;
    display: block;
    border-color: transparent;
    border-style: solid;
}

.popover .arrow::before {
    content: "";
    border-width: 0.8rem;
}

.popover .arrow::after {
    content: "";
    border-width: 0.8rem;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.popover.bs-popover-auto[x-placement^="top"] .arrow::before,
.popover.bs-popover-top .arrow::after,
.popover.bs-popover-top .arrow::before {
    border-bottom-width: 0px;
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::before,
.popover.bs-popover-top .arrow::before {
    bottom: -0.8rem;
    margin-left: -0.8rem;
    border-top-color: rgba(0, 0, 0, 0.25);
}

.popover.bs-popover-auto[x-placement^="top"] .arrow::after,
.popover.bs-popover-top .arrow::after {
    bottom: calc((0.8rem - 1px) * -1);
    margin-left: -0.8rem;
    border-top-color: rgb(255, 255, 255);
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::after,
.popover.bs-popover-auto[x-placement^="right"] .arrow::before,
.popover.bs-popover-right .arrow::after,
.popover.bs-popover-right .arrow::before {
    margin-top: -0.8rem;
    border-left-width: 0px;
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::before,
.popover.bs-popover-right .arrow::before {
    left: -0.8rem;
    border-right-color: rgba(0, 0, 0, 0.25);
}

.popover.bs-popover-auto[x-placement^="right"] .arrow::after,
.popover.bs-popover-right .arrow::after {
    left: calc((0.8rem - 1px) * -1);
    border-right-color: rgb(255, 255, 255);
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.popover.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.popover.bs-popover-bottom .arrow::after,
.popover.bs-popover-bottom .arrow::before {
    margin-left: -0.8rem;
    border-top-width: 0px;
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.popover.bs-popover-bottom .arrow::before {
    top: -0.8rem;
    border-bottom-color: rgba(0, 0, 0, 0.25);
}

.popover.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.popover.bs-popover-bottom .arrow::after {
    top: calc((0.8rem - 1px) * -1);
    border-bottom-color: rgb(255, 255, 255);
}

.popover.bs-popover-auto[x-placement^="bottom"] .popover-header::before,
.popover.bs-popover-bottom .popover-header::before {
    position: absolute;
    top: 0px;
    left: 50%;
    display: block;
    width: 20px;
    margin-left: -10px;
    content: "";
    border-bottom: 1px solid rgb(247, 247, 247);
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::after,
.popover.bs-popover-auto[x-placement^="left"] .arrow::before,
.popover.bs-popover-left .arrow::after,
.popover.bs-popover-left .arrow::before {
    margin-top: -0.8rem;
    border-right-width: 0px;
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::before,
.popover.bs-popover-left .arrow::before {
    right: -0.8rem;
    border-left-color: rgba(0, 0, 0, 0.25);
}

.popover.bs-popover-auto[x-placement^="left"] .arrow::after,
.popover.bs-popover-left .arrow::after {
    right: calc((0.8rem - 1px) * -1);
    border-left-color: rgb(255, 255, 255);
}

.carousel-indicators li::before {
    position: absolute;
    top: -10px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.carousel-indicators li::after {
    position: absolute;
    bottom: -10px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 10px;
    content: "";
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}

.d-flex {
    display: flex ! important;
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none ! important;
    }
    .d-sm-inline {
        display: inline ! important;
    }
    .d-sm-inline-block {
        display: inline-block ! important;
    }
    .d-sm-block {
        display: block ! important;
    }
    .d-sm-table {
        display: table ! important;
    }
    .d-sm-table-row {
        display: table-row ! important;
    }
    .d-sm-table-cell {
        display: table-cell ! important;
    }
    .d-sm-flex {
        display: flex ! important;
    }
    .d-sm-inline-flex {
        display: inline-flex ! important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none ! important;
    }
    .d-md-inline {
        display: inline ! important;
    }
    .d-md-inline-block {
        display: inline-block ! important;
    }
    .d-md-block {
        display: block ! important;
    }
    .d-md-table {
        display: table ! important;
    }
    .d-md-table-row {
        display: table-row ! important;
    }
    .d-md-table-cell {
        display: table-cell ! important;
    }
    .d-md-flex {
        display: flex ! important;
    }
    .d-md-inline-flex {
        display: inline-flex ! important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none ! important;
    }
    .d-lg-inline {
        display: inline ! important;
    }
    .d-lg-inline-block {
        display: inline-block ! important;
    }
    .d-lg-block {
        display: block ! important;
    }
    .d-lg-table {
        display: table ! important;
    }
    .d-lg-table-row {
        display: table-row ! important;
    }
    .d-lg-table-cell {
        display: table-cell ! important;
    }
    .d-lg-flex {
        display: flex ! important;
    }
    .d-lg-inline-flex {
        display: inline-flex ! important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none ! important;
    }
    .d-xl-inline {
        display: inline ! important;
    }
    .d-xl-inline-block {
        display: inline-block ! important;
    }
    .d-xl-block {
        display: block ! important;
    }
    .d-xl-table {
        display: table ! important;
    }
    .d-xl-table-row {
        display: table-row ! important;
    }
    .d-xl-table-cell {
        display: table-cell ! important;
    }
    .d-xl-flex {
        display: flex ! important;
    }
    .d-xl-inline-flex {
        display: inline-flex ! important;
    }
}

@media print {
    .d-print-block {
        display: block ! important;
    }
}

@media print {
    .d-print-inline {
        display: inline ! important;
    }
}

@media print {
    .d-print-inline-block {
        display: inline-block ! important;
    }
}

@media print {
    .d-print-none {
        display: none ! important;
    }
}

.embed-responsive::before {
    display: block;
    content: "";
}

.embed-responsive-21by9::before {
    padding-top: 42.8571%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

.embed-responsive-1by1::before {
    padding-top: 100%;
}

.flex-column {
    flex-direction: column ! important;
}

.justify-content-center {
    justify-content: center ! important;
}

.align-items-center {
    align-items: center ! important;
}

.align-self-center {
    align-self: center ! important;
}

@media (min-width: 576px) {
    .flex-sm-row {
        flex-direction: row ! important;
    }
    .flex-sm-column {
        flex-direction: column ! important;
    }
    .flex-sm-row-reverse {
        flex-direction: row-reverse ! important;
    }
    .flex-sm-column-reverse {
        flex-direction: column-reverse ! important;
    }
    .flex-sm-wrap {
        flex-wrap: wrap ! important;
    }
    .flex-sm-nowrap {
        flex-wrap: nowrap ! important;
    }
    .flex-sm-wrap-reverse {
        flex-wrap: wrap-reverse ! important;
    }
    .justify-content-sm-start {
        justify-content: flex-start ! important;
    }
    .justify-content-sm-end {
        justify-content: flex-end ! important;
    }
    .justify-content-sm-center {
        justify-content: center ! important;
    }
    .justify-content-sm-between {
        justify-content: space-between ! important;
    }
    .justify-content-sm-around {
        justify-content: space-around ! important;
    }
    .align-items-sm-start {
        align-items: flex-start ! important;
    }
    .align-items-sm-end {
        align-items: flex-end ! important;
    }
    .align-items-sm-center {
        align-items: center ! important;
    }
    .align-items-sm-baseline {
        align-items: baseline ! important;
    }
    .align-items-sm-stretch {
        align-items: stretch ! important;
    }
    .align-content-sm-start {
        align-content: flex-start ! important;
    }
    .align-content-sm-end {
        align-content: flex-end ! important;
    }
    .align-content-sm-center {
        align-content: center ! important;
    }
    .align-content-sm-between {
        align-content: space-between ! important;
    }
    .align-content-sm-around {
        align-content: space-around ! important;
    }
    .align-content-sm-stretch {
        align-content: stretch ! important;
    }
    .align-self-sm-auto {
        align-self: auto ! important;
    }
    .align-self-sm-start {
        align-self: flex-start ! important;
    }
    .align-self-sm-end {
        align-self: flex-end ! important;
    }
    .align-self-sm-center {
        align-self: center ! important;
    }
    .align-self-sm-baseline {
        align-self: baseline ! important;
    }
    .align-self-sm-stretch {
        align-self: stretch ! important;
    }
}

@media (min-width: 768px) {
    .flex-md-row {
        flex-direction: row ! important;
    }
    .flex-md-column {
        flex-direction: column ! important;
    }
    .flex-md-row-reverse {
        flex-direction: row-reverse ! important;
    }
    .flex-md-column-reverse {
        flex-direction: column-reverse ! important;
    }
    .flex-md-wrap {
        flex-wrap: wrap ! important;
    }
    .flex-md-nowrap {
        flex-wrap: nowrap ! important;
    }
    .flex-md-wrap-reverse {
        flex-wrap: wrap-reverse ! important;
    }
    .justify-content-md-start {
        justify-content: flex-start ! important;
    }
    .justify-content-md-end {
        justify-content: flex-end ! important;
    }
    .justify-content-md-center {
        justify-content: center ! important;
    }
    .justify-content-md-between {
        justify-content: space-between ! important;
    }
    .justify-content-md-around {
        justify-content: space-around ! important;
    }
    .align-items-md-start {
        align-items: flex-start ! important;
    }
    .align-items-md-end {
        align-items: flex-end ! important;
    }
    .align-items-md-center {
        align-items: center ! important;
    }
    .align-items-md-baseline {
        align-items: baseline ! important;
    }
    .align-items-md-stretch {
        align-items: stretch ! important;
    }
    .align-content-md-start {
        align-content: flex-start ! important;
    }
    .align-content-md-end {
        align-content: flex-end ! important;
    }
    .align-content-md-center {
        align-content: center ! important;
    }
    .align-content-md-between {
        align-content: space-between ! important;
    }
    .align-content-md-around {
        align-content: space-around ! important;
    }
    .align-content-md-stretch {
        align-content: stretch ! important;
    }
    .align-self-md-auto {
        align-self: auto ! important;
    }
    .align-self-md-start {
        align-self: flex-start ! important;
    }
    .align-self-md-end {
        align-self: flex-end ! important;
    }
    .align-self-md-center {
        align-self: center ! important;
    }
    .align-self-md-baseline {
        align-self: baseline ! important;
    }
    .align-self-md-stretch {
        align-self: stretch ! important;
    }
}

@media (min-width: 992px) {
    .flex-lg-row {
        flex-direction: row ! important;
    }
    .flex-lg-column {
        flex-direction: column ! important;
    }
    .flex-lg-row-reverse {
        flex-direction: row-reverse ! important;
    }
    .flex-lg-column-reverse {
        flex-direction: column-reverse ! important;
    }
    .flex-lg-wrap {
        flex-wrap: wrap ! important;
    }
    .flex-lg-nowrap {
        flex-wrap: nowrap ! important;
    }
    .flex-lg-wrap-reverse {
        flex-wrap: wrap-reverse ! important;
    }
    .justify-content-lg-start {
        justify-content: flex-start ! important;
    }
    .justify-content-lg-end {
        justify-content: flex-end ! important;
    }
    .justify-content-lg-center {
        justify-content: center ! important;
    }
    .justify-content-lg-between {
        justify-content: space-between ! important;
    }
    .justify-content-lg-around {
        justify-content: space-around ! important;
    }
    .align-items-lg-start {
        align-items: flex-start ! important;
    }
    .align-items-lg-end {
        align-items: flex-end ! important;
    }
    .align-items-lg-center {
        align-items: center ! important;
    }
    .align-items-lg-baseline {
        align-items: baseline ! important;
    }
    .align-items-lg-stretch {
        align-items: stretch ! important;
    }
    .align-content-lg-start {
        align-content: flex-start ! important;
    }
    .align-content-lg-end {
        align-content: flex-end ! important;
    }
    .align-content-lg-center {
        align-content: center ! important;
    }
    .align-content-lg-between {
        align-content: space-between ! important;
    }
    .align-content-lg-around {
        align-content: space-around ! important;
    }
    .align-content-lg-stretch {
        align-content: stretch ! important;
    }
    .align-self-lg-auto {
        align-self: auto ! important;
    }
    .align-self-lg-start {
        align-self: flex-start ! important;
    }
    .align-self-lg-end {
        align-self: flex-end ! important;
    }
    .align-self-lg-center {
        align-self: center ! important;
    }
    .align-self-lg-baseline {
        align-self: baseline ! important;
    }
    .align-self-lg-stretch {
        align-self: stretch ! important;
    }
}

@media (min-width: 1200px) {
    .flex-xl-row {
        flex-direction: row ! important;
    }
    .flex-xl-column {
        flex-direction: column ! important;
    }
    .flex-xl-row-reverse {
        flex-direction: row-reverse ! important;
    }
    .flex-xl-column-reverse {
        flex-direction: column-reverse ! important;
    }
    .flex-xl-wrap {
        flex-wrap: wrap ! important;
    }
    .flex-xl-nowrap {
        flex-wrap: nowrap ! important;
    }
    .flex-xl-wrap-reverse {
        flex-wrap: wrap-reverse ! important;
    }
    .justify-content-xl-start {
        justify-content: flex-start ! important;
    }
    .justify-content-xl-end {
        justify-content: flex-end ! important;
    }
    .justify-content-xl-center {
        justify-content: center ! important;
    }
    .justify-content-xl-between {
        justify-content: space-between ! important;
    }
    .justify-content-xl-around {
        justify-content: space-around ! important;
    }
    .align-items-xl-start {
        align-items: flex-start ! important;
    }
    .align-items-xl-end {
        align-items: flex-end ! important;
    }
    .align-items-xl-center {
        align-items: center ! important;
    }
    .align-items-xl-baseline {
        align-items: baseline ! important;
    }
    .align-items-xl-stretch {
        align-items: stretch ! important;
    }
    .align-content-xl-start {
        align-content: flex-start ! important;
    }
    .align-content-xl-end {
        align-content: flex-end ! important;
    }
    .align-content-xl-center {
        align-content: center ! important;
    }
    .align-content-xl-between {
        align-content: space-between ! important;
    }
    .align-content-xl-around {
        align-content: space-around ! important;
    }
    .align-content-xl-stretch {
        align-content: stretch ! important;
    }
    .align-self-xl-auto {
        align-self: auto ! important;
    }
    .align-self-xl-start {
        align-self: flex-start ! important;
    }
    .align-self-xl-end {
        align-self: flex-end ! important;
    }
    .align-self-xl-center {
        align-self: center ! important;
    }
    .align-self-xl-baseline {
        align-self: baseline ! important;
    }
    .align-self-xl-stretch {
        align-self: stretch ! important;
    }
}

@media (min-width: 576px) {
    .float-sm-left {
        float: left ! important;
    }
    .float-sm-right {
        float: right ! important;
    }
    .float-sm-none {
        float: none ! important;
    }
}

@media (min-width: 768px) {
    .float-md-left {
        float: left ! important;
    }
    .float-md-right {
        float: right ! important;
    }
    .float-md-none {
        float: none ! important;
    }
}

@media (min-width: 992px) {
    .float-lg-left {
        float: left ! important;
    }
    .float-lg-right {
        float: right ! important;
    }
    .float-lg-none {
        float: none ! important;
    }
}

@media (min-width: 1200px) {
    .float-xl-left {
        float: left ! important;
    }
    .float-xl-right {
        float: right ! important;
    }
    .float-xl-none {
        float: none ! important;
    }
}

.mt-4,
.my-4 {
    margin-top: 1.5rem ! important;
}

.pt-4,
.py-4 {
    padding-top: 1.5rem ! important;
}

@media (min-width: 576px) {
    .m-sm-0 {
        margin: 0px ! important;
    }
    .mt-sm-0,
    .my-sm-0 {
        margin-top: 0px ! important;
    }
    .mr-sm-0,
    .mx-sm-0 {
        margin-right: 0px ! important;
    }
    .mb-sm-0,
    .my-sm-0 {
        margin-bottom: 0px ! important;
    }
    .ml-sm-0,
    .mx-sm-0 {
        margin-left: 0px ! important;
    }
    .m-sm-1 {
        margin: 0.25rem ! important;
    }
    .mt-sm-1,
    .my-sm-1 {
        margin-top: 0.25rem ! important;
    }
    .mr-sm-1,
    .mx-sm-1 {
        margin-right: 0.25rem ! important;
    }
    .mb-sm-1,
    .my-sm-1 {
        margin-bottom: 0.25rem ! important;
    }
    .ml-sm-1,
    .mx-sm-1 {
        margin-left: 0.25rem ! important;
    }
    .m-sm-2 {
        margin: 0.5rem ! important;
    }
    .mt-sm-2,
    .my-sm-2 {
        margin-top: 0.5rem ! important;
    }
    .mr-sm-2,
    .mx-sm-2 {
        margin-right: 0.5rem ! important;
    }
    .mb-sm-2,
    .my-sm-2 {
        margin-bottom: 0.5rem ! important;
    }
    .ml-sm-2,
    .mx-sm-2 {
        margin-left: 0.5rem ! important;
    }
    .m-sm-3 {
        margin: 1rem ! important;
    }
    .mt-sm-3,
    .my-sm-3 {
        margin-top: 1rem ! important;
    }
    .mr-sm-3,
    .mx-sm-3 {
        margin-right: 1rem ! important;
    }
    .mb-sm-3,
    .my-sm-3 {
        margin-bottom: 1rem ! important;
    }
    .ml-sm-3,
    .mx-sm-3 {
        margin-left: 1rem ! important;
    }
    .m-sm-4 {
        margin: 1.5rem ! important;
    }
    .mt-sm-4,
    .my-sm-4 {
        margin-top: 1.5rem ! important;
    }
    .mr-sm-4,
    .mx-sm-4 {
        margin-right: 1.5rem ! important;
    }
    .mb-sm-4,
    .my-sm-4 {
        margin-bottom: 1.5rem ! important;
    }
    .ml-sm-4,
    .mx-sm-4 {
        margin-left: 1.5rem ! important;
    }
    .m-sm-5 {
        margin: 3rem ! important;
    }
    .mt-sm-5,
    .my-sm-5 {
        margin-top: 3rem ! important;
    }
    .mr-sm-5,
    .mx-sm-5 {
        margin-right: 3rem ! important;
    }
    .mb-sm-5,
    .my-sm-5 {
        margin-bottom: 3rem ! important;
    }
    .ml-sm-5,
    .mx-sm-5 {
        margin-left: 3rem ! important;
    }
    .p-sm-0 {
        padding: 0px ! important;
    }
    .pt-sm-0,
    .py-sm-0 {
        padding-top: 0px ! important;
    }
    .pr-sm-0,
    .px-sm-0 {
        padding-right: 0px ! important;
    }
    .pb-sm-0,
    .py-sm-0 {
        padding-bottom: 0px ! important;
    }
    .pl-sm-0,
    .px-sm-0 {
        padding-left: 0px ! important;
    }
    .p-sm-1 {
        padding: 0.25rem ! important;
    }
    .pt-sm-1,
    .py-sm-1 {
        padding-top: 0.25rem ! important;
    }
    .pr-sm-1,
    .px-sm-1 {
        padding-right: 0.25rem ! important;
    }
    .pb-sm-1,
    .py-sm-1 {
        padding-bottom: 0.25rem ! important;
    }
    .pl-sm-1,
    .px-sm-1 {
        padding-left: 0.25rem ! important;
    }
    .p-sm-2 {
        padding: 0.5rem ! important;
    }
    .pt-sm-2,
    .py-sm-2 {
        padding-top: 0.5rem ! important;
    }
    .pr-sm-2,
    .px-sm-2 {
        padding-right: 0.5rem ! important;
    }
    .pb-sm-2,
    .py-sm-2 {
        padding-bottom: 0.5rem ! important;
    }
    .pl-sm-2,
    .px-sm-2 {
        padding-left: 0.5rem ! important;
    }
    .p-sm-3 {
        padding: 1rem ! important;
    }
    .pt-sm-3,
    .py-sm-3 {
        padding-top: 1rem ! important;
    }
    .pr-sm-3,
    .px-sm-3 {
        padding-right: 1rem ! important;
    }
    .pb-sm-3,
    .py-sm-3 {
        padding-bottom: 1rem ! important;
    }
    .pl-sm-3,
    .px-sm-3 {
        padding-left: 1rem ! important;
    }
    .p-sm-4 {
        padding: 1.5rem ! important;
    }
    .pt-sm-4,
    .py-sm-4 {
        padding-top: 1.5rem ! important;
    }
    .pr-sm-4,
    .px-sm-4 {
        padding-right: 1.5rem ! important;
    }
    .pb-sm-4,
    .py-sm-4 {
        padding-bottom: 1.5rem ! important;
    }
    .pl-sm-4,
    .px-sm-4 {
        padding-left: 1.5rem ! important;
    }
    .p-sm-5 {
        padding: 3rem ! important;
    }
    .pt-sm-5,
    .py-sm-5 {
        padding-top: 3rem ! important;
    }
    .pr-sm-5,
    .px-sm-5 {
        padding-right: 3rem ! important;
    }
    .pb-sm-5,
    .py-sm-5 {
        padding-bottom: 3rem ! important;
    }
    .pl-sm-5,
    .px-sm-5 {
        padding-left: 3rem ! important;
    }
    .m-sm-auto {
        margin: auto ! important;
    }
    .mt-sm-auto,
    .my-sm-auto {
        margin-top: auto ! important;
    }
    .mr-sm-auto,
    .mx-sm-auto {
        margin-right: auto ! important;
    }
    .mb-sm-auto,
    .my-sm-auto {
        margin-bottom: auto ! important;
    }
    .ml-sm-auto,
    .mx-sm-auto {
        margin-left: auto ! important;
    }
}

@media (min-width: 768px) {
    .m-md-0 {
        margin: 0px ! important;
    }
    .mt-md-0,
    .my-md-0 {
        margin-top: 0px ! important;
    }
    .mr-md-0,
    .mx-md-0 {
        margin-right: 0px ! important;
    }
    .mb-md-0,
    .my-md-0 {
        margin-bottom: 0px ! important;
    }
    .ml-md-0,
    .mx-md-0 {
        margin-left: 0px ! important;
    }
    .m-md-1 {
        margin: 0.25rem ! important;
    }
    .mt-md-1,
    .my-md-1 {
        margin-top: 0.25rem ! important;
    }
    .mr-md-1,
    .mx-md-1 {
        margin-right: 0.25rem ! important;
    }
    .mb-md-1,
    .my-md-1 {
        margin-bottom: 0.25rem ! important;
    }
    .ml-md-1,
    .mx-md-1 {
        margin-left: 0.25rem ! important;
    }
    .m-md-2 {
        margin: 0.5rem ! important;
    }
    .mt-md-2,
    .my-md-2 {
        margin-top: 0.5rem ! important;
    }
    .mr-md-2,
    .mx-md-2 {
        margin-right: 0.5rem ! important;
    }
    .mb-md-2,
    .my-md-2 {
        margin-bottom: 0.5rem ! important;
    }
    .ml-md-2,
    .mx-md-2 {
        margin-left: 0.5rem ! important;
    }
    .m-md-3 {
        margin: 1rem ! important;
    }
    .mt-md-3,
    .my-md-3 {
        margin-top: 1rem ! important;
    }
    .mr-md-3,
    .mx-md-3 {
        margin-right: 1rem ! important;
    }
    .mb-md-3,
    .my-md-3 {
        margin-bottom: 1rem ! important;
    }
    .ml-md-3,
    .mx-md-3 {
        margin-left: 1rem ! important;
    }
    .m-md-4 {
        margin: 1.5rem ! important;
    }
    .mt-md-4,
    .my-md-4 {
        margin-top: 1.5rem ! important;
    }
    .mr-md-4,
    .mx-md-4 {
        margin-right: 1.5rem ! important;
    }
    .mb-md-4,
    .my-md-4 {
        margin-bottom: 1.5rem ! important;
    }
    .ml-md-4,
    .mx-md-4 {
        margin-left: 1.5rem ! important;
    }
    .m-md-5 {
        margin: 3rem ! important;
    }
    .mt-md-5,
    .my-md-5 {
        margin-top: 3rem ! important;
    }
    .mr-md-5,
    .mx-md-5 {
        margin-right: 3rem ! important;
    }
    .mb-md-5,
    .my-md-5 {
        margin-bottom: 3rem ! important;
    }
    .ml-md-5,
    .mx-md-5 {
        margin-left: 3rem ! important;
    }
    .p-md-0 {
        padding: 0px ! important;
    }
    .pt-md-0,
    .py-md-0 {
        padding-top: 0px ! important;
    }
    .pr-md-0,
    .px-md-0 {
        padding-right: 0px ! important;
    }
    .pb-md-0,
    .py-md-0 {
        padding-bottom: 0px ! important;
    }
    .pl-md-0,
    .px-md-0 {
        padding-left: 0px ! important;
    }
    .p-md-1 {
        padding: 0.25rem ! important;
    }
    .pt-md-1,
    .py-md-1 {
        padding-top: 0.25rem ! important;
    }
    .pr-md-1,
    .px-md-1 {
        padding-right: 0.25rem ! important;
    }
    .pb-md-1,
    .py-md-1 {
        padding-bottom: 0.25rem ! important;
    }
    .pl-md-1,
    .px-md-1 {
        padding-left: 0.25rem ! important;
    }
    .p-md-2 {
        padding: 0.5rem ! important;
    }
    .pt-md-2,
    .py-md-2 {
        padding-top: 0.5rem ! important;
    }
    .pr-md-2,
    .px-md-2 {
        padding-right: 0.5rem ! important;
    }
    .pb-md-2,
    .py-md-2 {
        padding-bottom: 0.5rem ! important;
    }
    .pl-md-2,
    .px-md-2 {
        padding-left: 0.5rem ! important;
    }
    .p-md-3 {
        padding: 1rem ! important;
    }
    .pt-md-3,
    .py-md-3 {
        padding-top: 1rem ! important;
    }
    .pr-md-3,
    .px-md-3 {
        padding-right: 1rem ! important;
    }
    .pb-md-3,
    .py-md-3 {
        padding-bottom: 1rem ! important;
    }
    .pl-md-3,
    .px-md-3 {
        padding-left: 1rem ! important;
    }
    .p-md-4 {
        padding: 1.5rem ! important;
    }
    .pt-md-4,
    .py-md-4 {
        padding-top: 1.5rem ! important;
    }
    .pr-md-4,
    .px-md-4 {
        padding-right: 1.5rem ! important;
    }
    .pb-md-4,
    .py-md-4 {
        padding-bottom: 1.5rem ! important;
    }
    .pl-md-4,
    .px-md-4 {
        padding-left: 1.5rem ! important;
    }
    .p-md-5 {
        padding: 3rem ! important;
    }
    .pt-md-5,
    .py-md-5 {
        padding-top: 3rem ! important;
    }
    .pr-md-5,
    .px-md-5 {
        padding-right: 3rem ! important;
    }
    .pb-md-5,
    .py-md-5 {
        padding-bottom: 3rem ! important;
    }
    .pl-md-5,
    .px-md-5 {
        padding-left: 3rem ! important;
    }
    .m-md-auto {
        margin: auto ! important;
    }
    .mt-md-auto,
    .my-md-auto {
        margin-top: auto ! important;
    }
    .mr-md-auto,
    .mx-md-auto {
        margin-right: auto ! important;
    }
    .mb-md-auto,
    .my-md-auto {
        margin-bottom: auto ! important;
    }
    .ml-md-auto,
    .mx-md-auto {
        margin-left: auto ! important;
    }
}

@media (min-width: 992px) {
    .m-lg-0 {
        margin: 0px ! important;
    }
    .mt-lg-0,
    .my-lg-0 {
        margin-top: 0px ! important;
    }
    .mr-lg-0,
    .mx-lg-0 {
        margin-right: 0px ! important;
    }
    .mb-lg-0,
    .my-lg-0 {
        margin-bottom: 0px ! important;
    }
    .ml-lg-0,
    .mx-lg-0 {
        margin-left: 0px ! important;
    }
    .m-lg-1 {
        margin: 0.25rem ! important;
    }
    .mt-lg-1,
    .my-lg-1 {
        margin-top: 0.25rem ! important;
    }
    .mr-lg-1,
    .mx-lg-1 {
        margin-right: 0.25rem ! important;
    }
    .mb-lg-1,
    .my-lg-1 {
        margin-bottom: 0.25rem ! important;
    }
    .ml-lg-1,
    .mx-lg-1 {
        margin-left: 0.25rem ! important;
    }
    .m-lg-2 {
        margin: 0.5rem ! important;
    }
    .mt-lg-2,
    .my-lg-2 {
        margin-top: 0.5rem ! important;
    }
    .mr-lg-2,
    .mx-lg-2 {
        margin-right: 0.5rem ! important;
    }
    .mb-lg-2,
    .my-lg-2 {
        margin-bottom: 0.5rem ! important;
    }
    .ml-lg-2,
    .mx-lg-2 {
        margin-left: 0.5rem ! important;
    }
    .m-lg-3 {
        margin: 1rem ! important;
    }
    .mt-lg-3,
    .my-lg-3 {
        margin-top: 1rem ! important;
    }
    .mr-lg-3,
    .mx-lg-3 {
        margin-right: 1rem ! important;
    }
    .mb-lg-3,
    .my-lg-3 {
        margin-bottom: 1rem ! important;
    }
    .ml-lg-3,
    .mx-lg-3 {
        margin-left: 1rem ! important;
    }
    .m-lg-4 {
        margin: 1.5rem ! important;
    }
    .mt-lg-4,
    .my-lg-4 {
        margin-top: 1.5rem ! important;
    }
    .mr-lg-4,
    .mx-lg-4 {
        margin-right: 1.5rem ! important;
    }
    .mb-lg-4,
    .my-lg-4 {
        margin-bottom: 1.5rem ! important;
    }
    .ml-lg-4,
    .mx-lg-4 {
        margin-left: 1.5rem ! important;
    }
    .m-lg-5 {
        margin: 3rem ! important;
    }
    .mt-lg-5,
    .my-lg-5 {
        margin-top: 3rem ! important;
    }
    .mr-lg-5,
    .mx-lg-5 {
        margin-right: 3rem ! important;
    }
    .mb-lg-5,
    .my-lg-5 {
        margin-bottom: 3rem ! important;
    }
    .ml-lg-5,
    .mx-lg-5 {
        margin-left: 3rem ! important;
    }
    .p-lg-0 {
        padding: 0px ! important;
    }
    .pt-lg-0,
    .py-lg-0 {
        padding-top: 0px ! important;
    }
    .pr-lg-0,
    .px-lg-0 {
        padding-right: 0px ! important;
    }
    .pb-lg-0,
    .py-lg-0 {
        padding-bottom: 0px ! important;
    }
    .pl-lg-0,
    .px-lg-0 {
        padding-left: 0px ! important;
    }
    .p-lg-1 {
        padding: 0.25rem ! important;
    }
    .pt-lg-1,
    .py-lg-1 {
        padding-top: 0.25rem ! important;
    }
    .pr-lg-1,
    .px-lg-1 {
        padding-right: 0.25rem ! important;
    }
    .pb-lg-1,
    .py-lg-1 {
        padding-bottom: 0.25rem ! important;
    }
    .pl-lg-1,
    .px-lg-1 {
        padding-left: 0.25rem ! important;
    }
    .p-lg-2 {
        padding: 0.5rem ! important;
    }
    .pt-lg-2,
    .py-lg-2 {
        padding-top: 0.5rem ! important;
    }
    .pr-lg-2,
    .px-lg-2 {
        padding-right: 0.5rem ! important;
    }
    .pb-lg-2,
    .py-lg-2 {
        padding-bottom: 0.5rem ! important;
    }
    .pl-lg-2,
    .px-lg-2 {
        padding-left: 0.5rem ! important;
    }
    .p-lg-3 {
        padding: 1rem ! important;
    }
    .pt-lg-3,
    .py-lg-3 {
        padding-top: 1rem ! important;
    }
    .pr-lg-3,
    .px-lg-3 {
        padding-right: 1rem ! important;
    }
    .pb-lg-3,
    .py-lg-3 {
        padding-bottom: 1rem ! important;
    }
    .pl-lg-3,
    .px-lg-3 {
        padding-left: 1rem ! important;
    }
    .p-lg-4 {
        padding: 1.5rem ! important;
    }
    .pt-lg-4,
    .py-lg-4 {
        padding-top: 1.5rem ! important;
    }
    .pr-lg-4,
    .px-lg-4 {
        padding-right: 1.5rem ! important;
    }
    .pb-lg-4,
    .py-lg-4 {
        padding-bottom: 1.5rem ! important;
    }
    .pl-lg-4,
    .px-lg-4 {
        padding-left: 1.5rem ! important;
    }
    .p-lg-5 {
        padding: 3rem ! important;
    }
    .pt-lg-5,
    .py-lg-5 {
        padding-top: 3rem ! important;
    }
    .pr-lg-5,
    .px-lg-5 {
        padding-right: 3rem ! important;
    }
    .pb-lg-5,
    .py-lg-5 {
        padding-bottom: 3rem ! important;
    }
    .pl-lg-5,
    .px-lg-5 {
        padding-left: 3rem ! important;
    }
    .m-lg-auto {
        margin: auto ! important;
    }
    .mt-lg-auto,
    .my-lg-auto {
        margin-top: auto ! important;
    }
    .mr-lg-auto,
    .mx-lg-auto {
        margin-right: auto ! important;
    }
    .mb-lg-auto,
    .my-lg-auto {
        margin-bottom: auto ! important;
    }
    .ml-lg-auto,
    .mx-lg-auto {
        margin-left: auto ! important;
    }
}

@media (min-width: 1200px) {
    .m-xl-0 {
        margin: 0px ! important;
    }
    .mt-xl-0,
    .my-xl-0 {
        margin-top: 0px ! important;
    }
    .mr-xl-0,
    .mx-xl-0 {
        margin-right: 0px ! important;
    }
    .mb-xl-0,
    .my-xl-0 {
        margin-bottom: 0px ! important;
    }
    .ml-xl-0,
    .mx-xl-0 {
        margin-left: 0px ! important;
    }
    .m-xl-1 {
        margin: 0.25rem ! important;
    }
    .mt-xl-1,
    .my-xl-1 {
        margin-top: 0.25rem ! important;
    }
    .mr-xl-1,
    .mx-xl-1 {
        margin-right: 0.25rem ! important;
    }
    .mb-xl-1,
    .my-xl-1 {
        margin-bottom: 0.25rem ! important;
    }
    .ml-xl-1,
    .mx-xl-1 {
        margin-left: 0.25rem ! important;
    }
    .m-xl-2 {
        margin: 0.5rem ! important;
    }
    .mt-xl-2,
    .my-xl-2 {
        margin-top: 0.5rem ! important;
    }
    .mr-xl-2,
    .mx-xl-2 {
        margin-right: 0.5rem ! important;
    }
    .mb-xl-2,
    .my-xl-2 {
        margin-bottom: 0.5rem ! important;
    }
    .ml-xl-2,
    .mx-xl-2 {
        margin-left: 0.5rem ! important;
    }
    .m-xl-3 {
        margin: 1rem ! important;
    }
    .mt-xl-3,
    .my-xl-3 {
        margin-top: 1rem ! important;
    }
    .mr-xl-3,
    .mx-xl-3 {
        margin-right: 1rem ! important;
    }
    .mb-xl-3,
    .my-xl-3 {
        margin-bottom: 1rem ! important;
    }
    .ml-xl-3,
    .mx-xl-3 {
        margin-left: 1rem ! important;
    }
    .m-xl-4 {
        margin: 1.5rem ! important;
    }
    .mt-xl-4,
    .my-xl-4 {
        margin-top: 1.5rem ! important;
    }
    .mr-xl-4,
    .mx-xl-4 {
        margin-right: 1.5rem ! important;
    }
    .mb-xl-4,
    .my-xl-4 {
        margin-bottom: 1.5rem ! important;
    }
    .ml-xl-4,
    .mx-xl-4 {
        margin-left: 1.5rem ! important;
    }
    .m-xl-5 {
        margin: 3rem ! important;
    }
    .mt-xl-5,
    .my-xl-5 {
        margin-top: 3rem ! important;
    }
    .mr-xl-5,
    .mx-xl-5 {
        margin-right: 3rem ! important;
    }
    .mb-xl-5,
    .my-xl-5 {
        margin-bottom: 3rem ! important;
    }
    .ml-xl-5,
    .mx-xl-5 {
        margin-left: 3rem ! important;
    }
    .p-xl-0 {
        padding: 0px ! important;
    }
    .pt-xl-0,
    .py-xl-0 {
        padding-top: 0px ! important;
    }
    .pr-xl-0,
    .px-xl-0 {
        padding-right: 0px ! important;
    }
    .pb-xl-0,
    .py-xl-0 {
        padding-bottom: 0px ! important;
    }
    .pl-xl-0,
    .px-xl-0 {
        padding-left: 0px ! important;
    }
    .p-xl-1 {
        padding: 0.25rem ! important;
    }
    .pt-xl-1,
    .py-xl-1 {
        padding-top: 0.25rem ! important;
    }
    .pr-xl-1,
    .px-xl-1 {
        padding-right: 0.25rem ! important;
    }
    .pb-xl-1,
    .py-xl-1 {
        padding-bottom: 0.25rem ! important;
    }
    .pl-xl-1,
    .px-xl-1 {
        padding-left: 0.25rem ! important;
    }
    .p-xl-2 {
        padding: 0.5rem ! important;
    }
    .pt-xl-2,
    .py-xl-2 {
        padding-top: 0.5rem ! important;
    }
    .pr-xl-2,
    .px-xl-2 {
        padding-right: 0.5rem ! important;
    }
    .pb-xl-2,
    .py-xl-2 {
        padding-bottom: 0.5rem ! important;
    }
    .pl-xl-2,
    .px-xl-2 {
        padding-left: 0.5rem ! important;
    }
    .p-xl-3 {
        padding: 1rem ! important;
    }
    .pt-xl-3,
    .py-xl-3 {
        padding-top: 1rem ! important;
    }
    .pr-xl-3,
    .px-xl-3 {
        padding-right: 1rem ! important;
    }
    .pb-xl-3,
    .py-xl-3 {
        padding-bottom: 1rem ! important;
    }
    .pl-xl-3,
    .px-xl-3 {
        padding-left: 1rem ! important;
    }
    .p-xl-4 {
        padding: 1.5rem ! important;
    }
    .pt-xl-4,
    .py-xl-4 {
        padding-top: 1.5rem ! important;
    }
    .pr-xl-4,
    .px-xl-4 {
        padding-right: 1.5rem ! important;
    }
    .pb-xl-4,
    .py-xl-4 {
        padding-bottom: 1.5rem ! important;
    }
    .pl-xl-4,
    .px-xl-4 {
        padding-left: 1.5rem ! important;
    }
    .p-xl-5 {
        padding: 3rem ! important;
    }
    .pt-xl-5,
    .py-xl-5 {
        padding-top: 3rem ! important;
    }
    .pr-xl-5,
    .px-xl-5 {
        padding-right: 3rem ! important;
    }
    .pb-xl-5,
    .py-xl-5 {
        padding-bottom: 3rem ! important;
    }
    .pl-xl-5,
    .px-xl-5 {
        padding-left: 3rem ! important;
    }
    .m-xl-auto {
        margin: auto ! important;
    }
    .mt-xl-auto,
    .my-xl-auto {
        margin-top: auto ! important;
    }
    .mr-xl-auto,
    .mx-xl-auto {
        margin-right: auto ! important;
    }
    .mb-xl-auto,
    .my-xl-auto {
        margin-bottom: auto ! important;
    }
    .ml-xl-auto,
    .mx-xl-auto {
        margin-left: auto ! important;
    }
}

.text-center {
    text-align: center ! important;
}

@media (min-width: 576px) {
    .text-sm-left {
        text-align: left ! important;
    }
    .text-sm-right {
        text-align: right ! important;
    }
    .text-sm-center {
        text-align: center ! important;
    }
}

@media (min-width: 768px) {
    .text-md-left {
        text-align: left ! important;
    }
    .text-md-right {
        text-align: right ! important;
    }
    .text-md-center {
        text-align: center ! important;
    }
}

@media (min-width: 992px) {
    .text-lg-left {
        text-align: left ! important;
    }
    .text-lg-right {
        text-align: right ! important;
    }
    .text-lg-center {
        text-align: center ! important;
    }
}

@media (min-width: 1200px) {
    .text-xl-left {
        text-align: left ! important;
    }
    .text-xl-right {
        text-align: right ! important;
    }
    .text-xl-center {
        text-align: center ! important;
    }
}


/* ::::: https://fonts.googleapis.com/css?family=Oswald:300,400,500|Roboto ::::: */

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"), local("Oswald-Light"), url('tk3hwkuhhaijg75-sh0tvs9ce5q.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"), local("Oswald-Light"), url('tk3hwkuhhaijg75-sh0ttc9ce5q.woff2') format("woff2");
    unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"), local("Oswald-Light"), url('tk3hwkuhhaijg75-sh0ttm9ce5q.woff2') format("woff2");
    unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 300;
    src: local("Oswald Light"), local("Oswald-Light"), url('tk3hwkuhhaijg75-sh0tus9c.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url('tk3iwkuhhaijg752ht8ghe4.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url('tk3iwkuhhaijg752fj8ghe4.woff2') format("woff2");
    unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url('tk3iwkuhhaijg752fz8ghe4.woff2') format("woff2");
    unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"), local("Oswald-Regular"), url('tk3iwkuhhaijg752gt8g.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local("Oswald Medium"), local("Oswald-Medium"), url('tk3hwkuhhaijg75-6hwtvs9ce5q.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local("Oswald Medium"), local("Oswald-Medium"), url('tk3hwkuhhaijg75-6hwttc9ce5q.woff2') format("woff2");
    unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local("Oswald Medium"), local("Oswald-Medium"), url('tk3hwkuhhaijg75-6hwttm9ce5q.woff2') format("woff2");
    unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local("Oswald Medium"), local("Oswald-Medium"), url('tk3hwkuhhaijg75-6hwtus9c.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu72xkozy.woff2') format("woff2");
    unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu5mxkozy.woff2') format("woff2");
    unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7mxkozy.woff2') format("woff2");
    unicode-range: U+1F00-1FFF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4wxkozy.woff2') format("woff2");
    unicode-range: U+370-3FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7wxkozy.woff2') format("woff2");
    unicode-range: U+102-103, U+110-111, U+1EA0-1EF9, U+20AB;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu7gxkozy.woff2') format("woff2");
    unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url('kfomcnqeu92fr1mu4mxk.woff2') format("woff2");
    unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* ::::: http://www.johrice.com/css/style.css ::::: */

h1 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
}

h2 {
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
}

a {
    color: rgb(102, 102, 102);
}

a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

header {
    z-index: 10;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

li a {
    font-family: "Oswald", sans-serif;
    list-style-type: none;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 300;
}

li a:hover {
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.shadow {
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.08);
}

.logo img {
    width: 150px;
}

.social {
    width: 40px;
}

.menu {
    margin-top: 20px;
}

.nav {
    text-align: left;
}

.bandeauMenu {
    margin: 20vh auto auto;
    position: fixed;
}

.bandeauSocial {
    margin: 94vh auto auto;
    position: fixed;
}

.nav-link {
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}

.navMobile {
    z-index: 10;
    position: fixed;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    top: 20px;
    display: none;
}

.logoMobile {
    margin: auto;
    width: 70px;
}

.textIntro {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.travauxLeft {
    margin-bottom: 4px;
    padding-left: 0px;
    padding-right: 2px;
}

.travauxRight {
    margin-bottom: 4px;
    padding-right: 0px;
    padding-left: 2px;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transform: scale(0, 1);
}

.hovereffect:hover .overlay {
    opacity: 1;
    transform: scale(1);
}

.hovereffect img {
    display: block;
    position: relative;
    transition: all 0.35s ease 0s;
}

.hovereffect:hover img {
    filter: brightness(0.6);
}

.hovereffect h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    background-color: transparent;
    color: rgb(255, 255, 255);
    padding: 5em 0px;
    opacity: 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transform: translate3d(0px, -100%, 0px);
}

.hovereffect a {
    color: rgb(255, 255, 255);
    padding: 1em 0px;
    opacity: 0;
    transition: opacity 0.35s ease 0s, transform 0.35s ease 0s;
    transform: translate3d(0px, 100%, 0px);
}

.hovereffect:hover a,
.hovereffect:hover h2 {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width: 580px) {
    .hovereffect h2 {
        padding: 3em;
    }
}

@media screen and (max-width: 767px) {
    .mobileTravaux {
        display: initial;
    }
    .logoIntroTravaux {
        display: none;
    }
    .travauxLeft {
        padding-right: 0px;
    }
    .travauxRight {
        padding-left: 0px;
    }
    .bigTravaux {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    .navMobile {
        display: initial;
    }
    .bandeauMenu {
        display: none;
    }
    .social {
        display: none;
    }
}